
{{ content.title }}

{{ content.body }}
</br>
<hr>
{% if content.field_policy_footnotes %}
{{ content.field_policy_footnotes }}
<br>
{% endif %}

{% if content.field_appdate %}
{{ content.field_appdate }}
<br>
{% endif %}

{% if content.field_effdate %}
{{ content.field_effdate }}
<br>
{% endif %}

{% if content.field_byauth %}
{{ content.field_byauth }}
<br>
{% endif %}

<div class="com1">
{% if content.field_com1title %}
  {{ 	content.field_com1title }}
  <br>
{% endif %}

{% if content.field_com1 %}
  {{ 	content.field_com1 }}
  <br>
{% endif %}

{% if content.field_com1_footnotes %}
  {{ 	content.field_com1_footnotes }}
  <br>
{% endif %}

{% if content.field_com1date %}
  {{ 	content.field_com1date }}
  <br>
{% endif %}

{% if content.field_com1author %}
  {{ 	content.field_com1author }}
  <br>
{% endif %}
</div>

<div class="com2">
{% if content.field_com2title %}
  {{ 	content.field_com2title }}
  <br>
{% endif %}

{% if content.field_com2 %}
  {{ 	content.field_com2 }}
  <br>
{% endif %}

{% if content.field_com2_footnotes %}
  {{ 	content.field_com2_footnotes }}
  <br>
{% endif %}

{% if content.field_com2date %}
  {{ 	content.field_com2date }}
  <br>
{% endif %}

{% if content.field_com2author %}
  {{ 	content.field_com2author }}
  <br>
{% endif %}
</div>
<div class="com3">
{% if content.field_com3title %}
  {{ 	content.field_com3title }}
  <br>
{% endif %}

{% if content.field_com3text %}
  {{ 	content.field_com3text }}
  <br>
{% endif %}

{% if content.field_com3_footnotes %}
  {{ 	content.field_com3_footnotes }}
  <br>
{% endif %}

{% if content.field_com3date %}
  {{ 	content.field_com3date }}
  <br>
{% endif %}

{% if content.field_com3author %}
  {{ 	content.field_com3author }}
  <br>
{% endif %}
</div>
